/* 
---------------
Custom properties
----------------
 */
:root{
    --clr-primary: hsl(230,53%,8%);
    --clr-secondary: hsl(237, 28%, 16%);
    --clr-accent: hsl(342, 84%, 50%);
    --clr-text: hsl(0, 0%, 99%);

    --ff-primary: 'Oxygen', sans-serif;
    --ff-secondary: 'Oxygen Mono', monospace;

    --spacer: 1rem;
}
/* 
---------------
Resets
----------------
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--clr-primary);
  color: var(--clr-text);
  font-family: var(--ff-primary);
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

/* 
---------------
Utility classes
----------------
 */

.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

.flow-content--lg {
  --flow-space: 3rem;
}
.container {
  padding: 0 var(--spacer);
  max-width: 70rem;
  margin: 0 auto;
}

/* 
---------------
Navbar
----------------
 */

header{
  padding: 1rem;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo svg{
  width: 2rem;
}
.nav__links{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.link{
  list-style-type: none;
}

.link a{
  text-decoration: none;
  padding: .5rem 1rem;
}

.logo:hover, .logo:focus{
  color: var(--clr-accent);
}

a:hover, a:focus{
  color: var(--clr-accent);
}
svg{
  width: 2rem;
}

/* 
---------------
Home
----------------
 */

.home{
  padding: 2rem;
}

.home h2, .home h3{
  font-family: var(--ff-secondary);
}
.home h3{
  margin-top: 3rem;
}
.home div{
  background-color: var(--clr-secondary);
  padding-block: 2rem;
  padding-inline: 2rem;
  border-radius: 12px;
  
}